.agegate_container { background-color:#FFF; width: 248px; color:#000}
.agegate_message { }
.agegate_image { float: left; background:url(images/no.png) no-repeat; height: 68px; width: 68px; };
.agegate_age { display: inline; }
.agegate_submit { margin: 0 auto; width: 140px}
.agegate_container select { display: inline; width: 175px}
.agegate_clear { clear: both; }